@font-face
{
    font-family: 'ralewayregular';
    src: url(raleway/Raleway-Regular.ttf) format('truetype');
}
*
{
    color: #000; 
    font-family: 'ralewayregular', Arial, Helvetica, sans-serif;
    text-decoration: none;
}
body
{
    margin: auto;
}
h2 
{
    font-size: 23px;
}
header
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
header img
{
    padding: 30px 0 0 30px;
}
header ul
{
    list-style-type: none;
    display: flex;
    margin: 0;
}
header li
{
    padding: 20px;
}
header li:hover
{
    border-top: 2px solid #0065fc;
}
#signup
{
    margin-right: 40px;
}
#signup a
{
        color: #0065fc;
        font-weight: bold;   
}
header .navig a:hover
{
        color: #0065fc;
}
#find
    {
        padding: 0px 30px 0px 30px;
        margin: 30px 0;
    }
#search
{
    border: 1px #f2f2f2 solid;
    width: 200px;
}
.contsearch
{
    display: flex;
    padding-left: 30px;
}
.location
{
    background-color: #f2f2f2;
    border-radius: 15px 1px 1px 15px;
    padding: 15px 17px;
}
#textbutton
{
   display: block;
   color: white;
    margin: 7px;
    font-weight: bold;
    font-size: 15px;
}
button
{
    background-color: #0065fc; 
    border: none;
    border-radius: 1px 15px 15px 1px;
}
.iconbutton
{
   display: none;
}
#filters
{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    padding-left: 30px;
    align-items: baseline;
    font-size: 15px;
}
.filtre
{
    border: 3px #f2f2f2 solid; 
    border-radius: 40px;
    margin: 15px;
    padding: 0px 20px 0px 0px;
    font-weight: bold;
    font-size: 15px;
}
#filters h3
{
    margin-right: 15px;
}
.filtre:hover
{
    box-shadow: 0 0 5px 0px #0065fc;
}
.icon 
{
    color: #0065fc;
    border-radius: 50%;
    background-color: #deebff;
    padding: 15px 17px;
    margin: -2px 10px -2px -3px;
    font-size: 18px;
}
#information
{
    padding: 0 0 30px 30px;
}
.info
{
    color: #0065fc;
    border: 2px #f2f2f2 solid;
    border-radius: 50%; 
    padding: 4px 8px;  
    margin-right: 5px;
}
.box
{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.boxh
{
    display: flex;
    background-color: #f2f2f2;
    border-radius: 15px;
    flex-wrap: wrap;
    margin-left: 30px;
    padding: 15px;
}
.boxh h2
{
    width: 100%;
    margin-left: 20px;
}
.boxh>p
{
    width: 100%;
    font-weight: bold;
    margin-left: 20px;
}
.accomodation h4
{
    margin : 7px 15px;
}
.accomodation p
{
    margin: 7px 15px;
    font-size: 13px;
}
.accomodation .price
{
    font-weight: bold;
}
.accomodation .stars
{
    font-size: 12px;
    margin: 7px 15px;
}
.imgh {
    height: 110px;
    border-radius: 15px 15px 1px 1px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.boxp
{ 
    display: flex;
    background-color: #f2f2f2;
    border-radius: 15px;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0px 40px 0px 30px;
    padding: 15px 15px 25px 15px;
}
.popular
{
    background-color: white;
    border-radius: 20px;
    padding: 3px 0 0 3px;
    box-shadow: 0 0 10px #f2f2f2;
    height: 135px;
    width: 335px;
    margin: 5px 15px 20px 15px;
}
.boxp h2
{
    padding-left: 20px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
}
h2 .chart
{
    font-size: 20px;
}

.popular h4
{
    font-size: 15px;
    margin: 15px 40px 5px 0px;
}
.popular p
{
    font-size: 13px;
    margin: 0;
}
.popular .stars
{
    font-size: 12px;
    margin-top: 40px;
}
aside .imgp {
    width: 120px;
    height: 130px;
    border-radius: 20px 1px 1px 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 15px;
}
.boxa
{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.activities
{
    border-radius: 20px;
    box-shadow: 5px 5px 7px #f2f2f2; 
}
.boxa h2
{
    width: 100%;
    padding-left: 30px;
    margin-bottom: 20px;
}
.activities h4
{
    font-size: 15px;
    padding: 15px;
    margin: 0;
}
.stars .blue
{
    color: #0065fc;
}
.stars .blank
{
    color: #f2f2f2;
}
.img1
{
    background-image: url("image/small.h/cannebiere.jpg");
}
.img2
{
    background-image: url("image/small.h/port.jpg");
}
.img3
{
    background-image: url("image/small.h/mouette.jpg");
}
.img4
{
    background-image: url("image/small.h/mer.jpg");
}
.img5
{
    background-image: url("image/small.h/panier.jpg");
}
.img6
{
    background-image: url("image/small.h/amina.jpg");
}
.img7
{
    background-image: url("image/small.h/soleil.jpg");
}
.img8
{
    background-image: url("image/small.h/coeur.jpg");
}
.img9
{
    background-image: url("image/small.h/blanc.jpg");
}
.imgb
{
    background-image: url("image/small.a/vport.jpg");
}
.imgc
{
    background-image: url("image/small.a/fort.jpg");
}
.imgd
{
    background-image: url("image/small.a/frioul.jpg");
}
.imge
{
    background-image: url("image/small.a/calanque.jpg");
}
.imgf
{
    background-image: url("image/small.a/ndame.jpg");
}
.imgg
{
    background-image: url("image/small.a/parc.jpg");
}

footer
{
    display: flex;
    background-color: #f2f2f2;
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-between;
    padding-right: 200px;
    padding-left: 30px;
}
footer p
{
    font-size: 16px;
}

@media all and (min-width:500px)
{
    .accomodation {
        height: 190px;
        width: 230px;
        background-color: white;
        padding: 4px 4px 0 4px;
        margin: 15px;
        border-radius: 15px;
        box-shadow: 0 0 10px #f2f2f2;
        font-size: 15px;
    }
    .imga {
    width: 300px;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
    .boxes {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 28px;
        margin-top: 25px;
    }
    .imgb {
        height: 390px;
    }
    .imge {
        height: 390px;
    }
    .imgc {
        height: 180px;
    }
    .imgd {
        height: 110px;
    }
    .imgf {
        height: 140px;
    }
    .imgg {
        height: 155px; 
    }
}
@media all and (max-width:700px)
{
    header {
        flex-direction: column;
        padding-top: 20px;
    }
    header img {
        padding-top: 0;
    }
    header nav {
        width: 100%;
        justify-content: space-evenly;
    }
    header ul {
        padding: 0;
    }
    header li {
        position:relative;
        border-bottom: 2px solid #f2f2f2;
        padding-bottom: 10px; 
    }
    header li:hover {
        border-bottom: 2px solid #0065fc;
        border-top: none;
    }
    .navig {
        width: 50%;
        margin: 0;
        text-align:center;
    }
    #signup {
        position: absolute;
        right: 0;
        top: 0;
        border-bottom: none;
        margin-top: 15px;
        margin-right: 0;
    }  
    #signup:hover {
        border-bottom: 2px solid #0065fc;
    }
    #textbutton {
        display: none;
    }
    .iconbutton {
        display: block;
        padding: 13px 7px;     
    }
    button {
        border-radius: 14px;
        padding: 2px 10px;
        position: absolute;
        right: 0;
    }
    .white {
        color: white;
    }
    .contsearch {
       margin : 0px 25px 10px 0px;
       position: relative;
    }  
    #search {
        flex-grow: 2;
        border-radius: 0px 20px 20px 0px;
    }
    #filters>h3 {
        width: 100%; 
    }
    .filtre {
        box-sizing: border-box;
        margin: 10px 0px 0px 10px;
        padding-right: 15px;
    }
    .icon {
        font-size: 17px;
    }
    .box {
        flex-wrap: wrap-reverse;
    }
    .box .boxh {
        background-color: white;
        margin: 0;
        justify-content: center;
    }
    .boxh h2
    {
        text-align: center;
        margin-left: 0;
    }
    .accomodation {
        width: 330px;
        margin-bottom: 10px;
        box-shadow: 0 0 20px #f2f2f2;
        border-radius: 20px;
    }

    .box .boxp {
        border-radius: 0;
        margin: 0;
        padding: 6px;
    }   
    .popular {
        width: 330px;
    }
    .boxa {
        justify-content: center;
    }  
    .activities  {
        height: 180px;
        width: 335px;
        margin: 10px;
    }
    .activities .imga  {
        height: 135px;
        width:335px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 20px 20px 0px 0px;
    }
     footer {
        flex-direction: column;
        padding: 30px;
    }
}
@media all and (min-width:400px) and (max-width:680px)
{
    .boxa h2 {
        text-align: center;
    }
}