@font-face
{
    font-family: 'ralewayregular';
    src: url(raleway/Raleway-Regular.ttf) format('truetype');
}
*
{
    color: #000; 
    font-family: 'ralewayregular', Arial, Helvetica, sans-serif;
    text-decoration-line: none;
}
html
{
   padding-left: 20px;
    padding-right: 5px;
}
@media all and (max-width:500px)
{
    html
    {
        padding: 0;
    }
}
h1, h2 
{
    font-size: 20px;
}
h3 
{
    font-size: 15px;
}
p 
{
    font-size: small;
}
header
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
header ul
{
    list-style-type: none;
    display: flex;
    margin-top: 0;
}
header li
{
    margin: 10px;
    padding: 5px;
}
header li:hover
{
    border-top: 2px solid #0065fc;
    padding: 29px;
}
@media all and (max-width:500px)
{
    header {
        flex-direction: column;
    }
    header nav {
        width: 100%;
    }
    header ul {
        position:relative;
        padding-left: 0;
        padding-top: 20px;
        border-bottom: 2px solid #f2f2f2;
    }
    header ul:hover {
        border-bottom: 2px solid #0065fc;
        border-top: white;
    }
    .navig {
        width: 50%;
        margin: 0;
        text-align: center;
    }
    #signup {
        position: absolute;
        right:0;
        top:-50px;
    }  
    #signup:hover{
        border-top: white;
    }
}
#search
{
    margin: 0;
    padding: 0;
}
.contsearch
{
    display: flex;
} 
.location
{
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 8px 1px 1px 8px;
}
#textbutton
{
   display: block;
   color: white;
}
button
{
    background-color: #0065fc; 
    border: none;
    border-radius: 1px 15px 15px 1px;
}
.iconbutton
{
   display: none;
   background-color: #0065fc;
}
@media all and  (max-width:500px)
{
    #textbutton
     {
        display: none;
    }
    .iconbutton
     {
        display: block;
    }
    button
    {
        border-radius: 10px;
        border: 2px solid #0065fc;
    }
    .white
    {
        color: white;
    }
}
#filters
{
    display: flex;
    flex-wrap: wrap;
}
.filtre
{
    border: 3px #f2f2f2 solid; 
    border-radius: 40px;
    font-size: larger;
    margin: 4px;
    padding-right: 10px;
    padding-left: 0;
    font-weight: bold;
    font-size: 15px;
}
.icon 
{
    color: #0065fc;
    border-radius: 60px;
    background-color: #deebff;
    padding: 10px 13px;
    box-sizing: content-box;
} 
.info
{
    color: #0065fc;
    border: 2px #f2f2f2 solid;
    border-radius: 50%; 
    padding: 4px 8px;  
    margin: 5px;
}
.accomodation
{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
}
.imgh {
    width: 200px;
    height: 100px;
    border-radius: 20px 20px 1px 1px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img1
{
    background-image: url("image/small.h/cannebiere.jpg");
}
.img2
{
    background-image: url("image/small.h/port.jpg");
}
.img3
{
    background-image: url("image/small.h/mouette.jpg");
}
.img4
{
    background-image: url("image/small.h/mer.jpg");
}
.img5
{
    background-image: url("image/small.h/panier.jpg");
}
.img6
{
    background-image: url("image/small.h/amina.jpg");
}
aside.boxp
{
    display: flex;
    background-color: #f2f2f2;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
    border-radius: 15px;
}
@media all and (max-width:500px)
{
    aside.boxp
    {
        margin:0;
        padding: 0;
        border-radius :0px;
    }
}
aside .imgp {
    width: 150px;
    height: 150px;
    border: 3px white solid;
    border-radius: 20px 1px 1px 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
aside .popular
{
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin: 15px;
    padding-right: 50px;
}
.popular .content
{
    padding-left: 20px;
}
.stars .blue
{
    color: #0065fc;
}
.stars .blank
{
    color: #f2f2f2;
}
.img7
{
    background-image: url("image/small.h/soleil.jpg");
}
.img8
{
    background-image: url("image/small.h/coeur.jpg");
}
.img9
{
    background-image: url("image/small.h/blanc.jpg");
}
.boxh
{
    display: flex;
    background-color: #f2f2f2;
    margin: 30px;
    padding: 30px;
    border-radius: 15px;
    flex-flow: row wrap;
}
section.boxa
{
    display: flex;
    flex-wrap: wrap;
}
.imga {
    width: 300px;
    height: 300px;
    border: 1px solid;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.imgb
{
    background-image: url("image/small.a/vport.jpg");
}
.imgc
{
    background-image: url("image/small.a/fort.jpg");
}
.imgd
{
    background-image: url("image/small.a/frioul.jpg");
}
.imge
{
    background-image: url("image/small.a/calanque.jpg");
}
.imgf
{
    background-image: url("image/small.a/ndame.jpg");
}
.imgg
{
    background-image: url("image/small.a/parc.jpg");
}
footer
{
    display: flex;
    background-color: #f2f2f2;
    flex-direction: row;
    justify-content: space-around;
}
@media all and (max-width: 500px)
{
    footer
       { flex-direction: column;
    }
}